apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
spec:
  selector:
    matchLabels:
      app: nginx
  replicas: 1
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:alpine
        ports:
        - containerPort: 80
        volumeMounts:
        - name: nginx-config-volume
          mountPath: /etc/nginx/conf.d/proxy.conf  # 挂载为conf.d下的配置文件
          subPath: proxy.conf
        lifecycle:
          postStart:
            exec:
              command: ["/bin/sh", "-c", "rm -f /etc/nginx/conf.d/default.conf && nginx -s reload"]
      volumes:
      - name: nginx-config-volume
        configMap:
          name: nginx-config
          items:
          - key: proxy.conf
            path: proxy.conf


---
apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  labels:
    app: nginx
spec:
  type: NodePort
  selector:
    app: nginx
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30080

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:
  proxy.conf: |
    server {
        listen       80;
        server_name  localhost;

        set $external_port 30080;
        set $external_ip localhost;

        # /sign-in 转发到B服务（替换为你的B服务Service名+端口）
        location /sign-in {
            proxy_pass http://172.21.67.157:8080/index.html;  # 替换为实际地址
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }

        location ^~ /assets {
            proxy_set_header Host $external_ip:$external_port;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            
            proxy_pass http://172.21.67.157:8080;
        }

        # 其他路径转发到A服务
        location / {
            proxy_pass http://192.168.3.227:3001;  # 替换为实际地址
            proxy_set_header Host $external_ip:$external_port;
            proxy_set_header Referer $scheme://$external_ip:$external_port$request_uri;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }